<header class="position-fixed" style="z-index: 1;">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand text-light" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " style="margin-left:60rem" 50rem; id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/">All Users</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/">All Products</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/">All Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>