<section>
    <div class="row pt-5">
        <div class="container">
            <div class="col-md-12 pt-5">
                <h1 class="text-center text-success">
                    Order Placed Successfully!!
                    <a href="/orders" class="btn bn-primary">View orders</a>                    
                </h1>
            </div>
        </div>
    </div>
</section>